body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  text-align: left;
  background-color: #0f172a;
  background-image: url(/background.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: #e2e8f0;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}

p {
  color: #fff;
}

a {
  color: #e2e8f0;
}

nav {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .logo {
    color: #fff;

    img {
      width: 200px;
      height: auto;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
}

.button {
  padding: 14px;
  border-radius: 8px;
  background: #67E6B0;
  cursor: pointer;
  margin-top: 14px;
  display: inline-block;
  color: #0d192b;
}

footer {
  color: #fff;
  padding: 3rem 0;
  text-align: center;
}