body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  text-align: left;
  background-color: #0f172a;
  background-image: url(/background.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: #e2e8f0;
}

p {
  color: #fff;
}

nav {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;


  h1 {
    color: #fff;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
}

footer {
  color: #fff;
  padding: 3rem 0;
  text-align: center;
}