header {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 3rem;
  text-align: center;
}

main {
  max-width: 800px;
  margin: 0 auto;

  .services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;

    div {
      padding: 14px;
      border-radius: 8px;
      background: rgba(30, 41, 59, 0.5);
      margin-bottom: 10px;
      padding: 140px 20px 30px 20px;
      text-align: left;

      h3 {
        margin-top: 0px;
        font-size: 16px;
        color: #67E6B0;
      }

      p {
        font-size: 14px;
        line-height: 120%;
      }
    }
  }

  .clients {

    .clients_list {
      background: rgba(30, 41, 59, 0.5);
      border-radius: 8px;
      padding: 10px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 10px;

      a {
        display: flex;
        align-items: center;

        img {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  main {
    .services {
      grid-template-columns: repeat(4, 1fr);
    }

    .clients {
      .clients_list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}