---
import Navbar from "./Navbar.astro";
import { SITE_TITLE } from "../config";
---

<header>
  <Navbar />
  <div class="banner">
    <div class="text">
      <h2>Diseño Web,</h2>
      <h2>Software a la medida, y</h2>
      <h2>Consultoría</h2>
      <p>
        Nuestra misión es a reducir la brecha digital para las Micro, Pequeñas y
        Medianas Empresas (MiPyMES) con soluciones digitales de calidad y
        accesibles
      </p>
      <a class="button">Obten Consultoría ¡Gratis!</a>
    </div>
    <div class="image"></div>
  </div>
</header>
