---
import Navbar from "./Navbar.astro";
---

<header>
  <Navbar />
  <div class="banner">
    <h2>Diseño Web, Software a la medida, y Consultoría</h2>
    <p>
      En un mundo cada vez más digitalizado, las MiPyMEs se enfrentan al desafío
      de adaptarse y competir con las grandes empresas. Nuestra misión es
      brindarles soluciones digitales de calidad y accesibles que les permitan
      reducir la brecha digital y potenciar su crecimiento.
    </p>
    <a href="https://fb.com/KualliSoft" class="button"
      >Obten Consultoría ¡Gratis!</a
    >
  </div>
</header>
