---
import LogoDark from "../assets/LogoDark.png";
---

<nav>
  <h1 class="logo">
    <img src={LogoDark} alt="KualliSoft" />
  </h1>
  <div class="menu">
    <ul>
      <li>
        <a href="/blog">Blog</a>
      </li>
    </ul>
  </div>
</nav>
